.headerme{
    // width: 100%;
    height: 3rem;
    background: red;
    line-height: 3rem;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
}
.banner_contaier{
    width: 100%;
    height: 80vh;
    position: relative;

    .banner_image{
        width: 100%;
        height: 100%;
    }
    .banner_Top{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.644);
        
        p{
            line-height: 0;
        }
    }
    .banner_TextH{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: 3rem;
        font-weight: 500;
        margin-block-start: 0;
       
    }
}
.searhContent{
    background-color: rgba(64, 8, 92, 0.762);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px ;

}
.input{
    width: 10rem;
    height: 1.9rem;
    border-radius: 10px ;
    border: none;
    outline: none;
    padding-left: 0.8rem;
    margin: 5px;
}
// .inpMidd{
//     border-radius: 0;
// }

